---
interface Props {
  color: String;
  width: String;
  paddingHorizontales: String;
  paddingVerticales: String;
  menssage: String;
  link?: String;
}

const { color, paddingHorizontales, paddingVerticales, width, menssage, link } =
  Astro.props;
---

<!-- <div class="flex gap-3 w-full rounded-lg mt-4">
  <a
    target="_blank"
    rel="noreferrer"
    class={`text-xs py-3 px-5 flex group/live hover:gap-10 transition-[gap] items-center lg:text-lg lg:py-2 lg:px-5 bg-[#${color}] text-white font-bold rounded-lg text-center flex-grow justify-between transition duration-1000  hover:text-[#ffffff] `}
  >
    <span>{menssage}</span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="15"
      height="11"
      fill="none"
      viewBox="0 0 15 11"
      class="text-2xl group-hover/live:translate-x-1 group-hover/live:rotate-45 transition-transform"
    >
      <path
        fill="#fff"
        d="M8.35.293C8.55.105 8.823 0 9.107 0c.284 0 .557.105.758.293l4.821 4.505a.97.97 0 0 1 .314.708c0 .266-.113.52-.314.708l-4.821 4.505A1.113 1.113 0 0 1 9.11 11a1.11 1.11 0 0 1-.748-.293.97.97 0 0 1-.314-.7.967.967 0 0 1 .3-.704l2.901-2.796H1.071a1.11 1.11 0 0 1-.757-.293A.969.969 0 0 1 0 5.506a.97.97 0 0 1 .314-.708c.2-.188.473-.293.757-.293h10.18L8.35 1.709A.969.969 0 0 1 8.036 1c0-.266.113-.52.314-.708Z"
      ></path>
    </svg>
  </a>
</div> -->
<a
  href=`${link}`
  class=`bg-[#${color}] text-[#fff]  py-${paddingVerticales}  px-${paddingHorizontales} ${width} rounded-lg mt-4 shadow-lg text-center`
>
  {menssage}
</a>
<style>
  a {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  button {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0px 4.8px 4.8px 0px rgba(0, 0, 0, 0.25);
  }
</style>
