---
interface Props {
  color: String;
  width: String;
  paddingHorizontales: String;
  paddingVerticales: String;
  menssage: String;
}

const { color, paddingHorizontales, paddingVerticales, width, menssage } =
  Astro.props;
---

<button
  class=`bg-[#${color}] text-[#fff]  py-${paddingVerticales}  px-${paddingHorizontales} ${width} rounded-lg mt-4`
  >{menssage}
</button>

<style>
  button {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
</style>
